.cartItems {
  margin: 50px 70px;
}
.cartitems hr {
  height: 3px;
  background: #e2e2e2;
  border: 0;
}
.cartitems-format-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  padding: 10px 0px;
  color: #454545;
  font-size: 18px;
  font-weight: 600;
}
.single {
  height: 40px;
  width: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cartitems-format {
  font-size: 15px;
  font-weight: 500;
}
.carticon-product-icon {
  height: 50px;
}
.cartitems-remove-icon {
  width: 15px;
  margin: 0px 30px;
  cursor: pointer;
}
.cartitems-quantity {
  height: 40px;
  width: 120px;
}


.cartitems-down {
  display: flex;
  margin: 70px 0px;
}
.cartitems-total {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-right: 200px;
  gap: 30px;
}
.cartitems-total-item {
  display: flex;
  justify-content: space-between;
  padding: 15px 0px;
}
.cartitems-total-price {
  display: flex;
  align-items; center;
  gap: 5px;
}
.cartitems-total button {
  width: 250px;
  height: 50px;
  outline: none;
  border: none;
  background: #ff5a5a;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

.cartitems-promocode {
  flex: 1;
  font-size: 16px;
  font-weight: 500;
}
.cartitems-promocode p {
  color: #555;
}
.cartitems-promobox {
  width: 300px;
  margin-top: 15px;
  height: 50px;
  background: #eaeaea;
}
.cartitems-promobox input {
  border: none;
  outline: none;
  background: transparent;
  padding-left: 20px;
  font-size: 16px;
  width: 300px;
  height: 50px;
}

.cartitems-promobox button {
  width: 300px;
  height: 50px;
  font-size: 16px;
  background: #ff5a5a;
  outline: none;
  border: none;
  margin-top: 20px;
  color: white;
  font-weight: bold;
  cursor: pointer;
}
